/*
  EXAMPLE USAGE
  Mobile first: No media query === phone

  @import '~assets/styles/partials/_breakpoints';

  .my-box {
    padding: 0.5rem;

    @include for-tablet-portrait-up {
      padding: 1rem;
    }

    @include for-desktop-up {
      padding: 2rem;
    }
  }
*/

@mixin for-tablet-portrait-up {
  @media (min-width: 576px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 992px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1200px) { @content; }
}
