/*
  EXAMPLE USAGE
  Mobile first: No media query === phone
  There is a mixin for phone-only,
  but please avoid using it lol.

  @import '~assets/styles/partials/_breakpoints';

  .my-box {
    padding: 10px;

    @include for-tablet-portrait-up {
      padding: 15px;
    }

    @include for-desktop-up {
      padding: 20px;
    }
  }
*/

@mixin for-tablet-portrait-up {
  @media (min-width: 576px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 992px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1200px) { @content; }
}
