@import url("https://use.typekit.net/qsl2slh.css");
@import "~/assets/styles/_color-palette";
@import "~/assets/styles/_breakpoints";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
   <defs>\
     <filter id="noise">\
       <feTurbulence type="fractalNoise" baseFrequency="0.5" result="noisy" />\
       <feColorMatrix\
         in="noisy"\
         type="matrix"\
         values="\
          0.4 0   0   0   0\
          0   0   0   0   0\
          0   0   0.4 0   0\
          0   0   0   0.2 0 "\
          result="noisy2"/>\
     <feBlend in="SourceGraphic" in2="noisy2" mode="multiply" />\
     </filter>\
   </defs>\
    <rect height="100" width="100" filter="url(%23noise)" fill="rgba(244, 229, 255, 0.2)" />\
  </svg>') fixed;
  background-size: 100px 100px;
  background-repeat: repeat;
}

.wine {
  color: $wine;
}

.teal {
  color: $teal
}

/* GENERAL
====================================================== */

button,
a.button {
  display: inline-block;
  width: 180px;
  height: 40px;
  border: 2px solid $wine;
  color: $wine;
  background: transparent;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

section {
  padding: 1rem;
  margin: 1rem auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  @include for-tablet-portrait-up {
    margin: 4rem auto;
    padding: 2rem;
  }

  &::before {
    content: "";
    border-radius: 7px;
  }
}

p {
  font-size: 14px;
  letter-spacing: 0.23px;
  line-height: 18px;
}

h1 {
  color: $wine;
  text-transform: uppercase;
  font-size: 1.5rem;

  @include for-tablet-portrait-up {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.375rem;

  @include for-tablet-portrait-up {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.1rem;

  @include for-tablet-portrait-up {
    font-size: 1.3rem;
  }
}

.section-icon {
  display: none;

  @include for-desktop-up {
    display: block;
    width: 180px;
  }

  @include for-big-desktop-up {
    width: 220px;
  }
}