@import url("https://use.typekit.net/qsl2slh.css");
@import "~/assets/styles/modules/_breakpoints";
@import "~/assets/styles/modules/_cross-browser";

:root {
  --purple: #ccccff;
  --wine: #870034;
  --grey: #e3e3e4;
  --teal: #029db9;
  --max-width: 1440px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url('../img/background.svg') fixed;
  background-size: 100px 100px;
  background-repeat: repeat;
}

.wine {
  color: var(--wine);
}

.teal {
  color: var(--teal)
}

/* GENERAL
====================================================== */

button,
a.button {
  display: inline-block;
  min-width: 180px;
  height: 40px;
  padding: 0 2rem;
  border: 2px solid var(--wine);
  color: var(--wine);
  background: transparent;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

section {
  padding: 1rem;
  margin: 1rem auto;
  @include display-grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(16, 1fr);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  @include for-tablet-portrait-up {
    margin: 4rem auto;
    padding: 2rem;
  }

  &::before {
    content: "";
    border-radius: 7px;
    grid-row: 1 / 3;
    grid-column: 1 / 17;
    background: red;
    margin-top: 30px;

    @include for-tablet-portrait-up {
      margin-top: 0;
    }
  }
}

p {
  font-size: 16px;
  letter-spacing: 0.23px;
  line-height: 18px;
}

h1 {
  font-size: 1.5rem;

  @include for-tablet-portrait-up {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.375rem;

  @include for-tablet-portrait-up {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.1rem;

  @include for-tablet-portrait-up {
    font-size: 1.3rem;
  }
}

ul {
  margin-bottom: 0;
  padding-left: 1rem;
}

li {
  font-weight: bold;

  & + li {
    margin-top: 0.4rem;
  }
}

.section-icon,
.section-image,
.info-graphic {
  width: 100%;
}

.section-icon {
  display: none;

  @include for-desktop-up {
    display: block;
  }
}

.section-header {
  color: var(--wine);
  text-transform: uppercase;
  margin-bottom: 0;
  grid-row: 1;
  grid-column: 2 / 16;
}

.section-body {
  grid-row: 2;
  grid-column: 2 / 16;
}


/* SIDE-BARS SECTION
====================================================== */

.side-bars {
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    background-color: var(--purple);
  }

  &:before {
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  &:after {
    right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.side-bars section {
  padding: 1rem 1.3rem;
}